<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="w3-container w3-padding-64">
        <div class="w3-row">
            <div class="w3-col s6">
                <div class="w3-card">
                        <header class="w3-container w3-red">
                            <h1>Upload Image</h1>
                        </header>
                        <div class="w3-container">
                            <input type="text" class="w3-input">
                            <label>Enter a comment</label>
                            <input type="number" class="w3-input">
                            <label >Phone Number</label>

                        </div>
                        <div class="w3-container w3-padding-64">
                            <button  class="w3-button w3-blue">Select Location</button>
                            <button  class="w3-button w3-blue w3-right">Conatct</button>
                            <p></p>
                            <button  class="w3-button w3-round-6 w3-blue">Select Location</button>
                            
                            <p></p>
                            <p>Don't have an account <a href="#">Sign up</a></p>
                        </div>
                </div>

                
            </div>

           

        </div>
    </form>
    
</body>
</html>