{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <nav>
        <div class="firstpart">
            <ul>

                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="#Donate">Donate</a></li>
                <div class="info">
                <li><a href="#Sign Up">Sign Up</a></li>
                </div>

            </ul>
        </div>
    </nav>
    <form action="." method="post">
    <div class="info">
        <div class="userdetails">
            {% csrf_token %}
            {{ form.username.errors }}
            <input class="w3-input" name="username" value="{{ form.username.value }}" placeholder="Enter Username"  type="text"><br>
            <input class="w3-input" name="first_name" value="{{ form.first_name.value }}" placeholder="Enter First Name"  type="text"><br>
            <input class="w3-input" name="last_name" value="{{ form.last_name.value }}" placeholder="Enter Last Name"  type="text"><br>
            {{ form.email.errors }}
            <input class="w3-input" name="email" value="{{ form.email.value }}" placeholder="Email" type="text"><br>
            {{ form.password1.errors }}
            <input class="w3-input" name="Phone" value="{{ form.phone.value }}" placeholder="Phone number"  type="text"><br>
            {{ form.password2.errors }}
            <input class="w3-input" name="password1" placeholder="Password"  type="password"><br>
            <input class="w3-input" name="password2" placeholder="Confirm password"  type="password">
            <button class="w3-button" type="submit">Sign Up</button>

        </div>
    </div>
     </form>
         
</body>
</html>
