<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food - View Items</title>
</head>
<body>
    <h1>View Items</h1>
    <table>
        <thead>
            <th>Product</th>
            <th>Location</th>
            <th>Quantity</th>
        </thead>
        {% for product in products %}
        <tbody>
            <td>{{ product.product_name }}</td>
            <td>{{ product.location }}</td>
            <td>{{ product.quantity }}</td>
        </tbody>
        {% endfor %}
    </table>
    
</body>
</html>