@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --red:#ff3838;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition:all .2s linear;
}

*::selection{
  background:var(--red);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body{
  background:#f7f7f7;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
  margin-top: 100px;
}

.heading span{
  color:var(--red);
}
header{
  position: fixed;
  top:0; left: 0; right:0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#fff;
  padding:2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#666;
}

header .logo i{
  padding-right: .5rem;
  color:var(--red);
}

header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color:#666;
}

header .navbar a:hover{
  color:var(--red);
}
.btn{
  display: block;
  width: 100%;
  border: none;
  color: white;
  border-radius: 25px;
  background-color: #ff3838;
  padding: 14px 35px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color:#666;
  border:.1rem solid #666;
  border-radius: .3rem;
  padding:.5rem 1.5rem;
  display: none;
}
.speciality .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.speciality .box-container .box{
  flex:1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: .5rem;
}

.speciality .box-container .box .image{
  height:100%;
  width:100%;
  object-fit: cover;
  position: absolute;
  top:-100%; left:0;
}

.speciality .box-container .box .content{
  text-align: center;
  background:#fff;
  padding:2rem;
}

.speciality .box-container .box .content img{
  margin:1.5rem 0;
}

.speciality .box-container .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.speciality .box-container .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}

.speciality .box-container .box:hover .image{
  top:0;
}

.speciality .box-container .box:hover .content{
  transform: translateY(100%);
}

.popular .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.popular .box-container .box{
  padding:2rem;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  text-align: center;
  flex:1 1 30rem;
  position: relative;
}

.popular .box-container .box img{
  height:25rem;
  object-fit: cover;
  width:100%;
  border-radius: .5rem;
}

.popular .box-container .box .price{
  position: absolute;
  top:3rem; left:3rem;
  background:var(--red);
  color:#fff;
  font-size: 2rem;
  padding:.5rem 1rem;
  border-radius: .5rem;
}

.popular .box-container .box h3{
  color:#333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box .stars i{
  color:gold;
  font-size: 1.7rem;
  padding:1rem .1rem;
}

.steps{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  padding:1rem;
}
.bur{
  height: 50px;
  width: 50px;
  
}

.steps .box{
  flex:1 1 25rem;
  padding:1rem;
  text-align: center;
}

.steps .box img{
  border-radius: 50%;
  border:1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.steps .box h3{
  font-size: 3rem;
  color:#333;
  padding:1rem;
}
.product{
  padding: 0 10%;
  margin: 40px auto 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 15pxs;
}
table thead tr th {
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.35px;
  color: #000;
  opacity:1 ;
  padding: 12px;
  vertical-align: top;
  background-color: gray;

}
table tbody tr td{
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  background-color: gray;
  padding: 8px;
  text-align: center;

}

.delete{
  cursor: pointer;
  background: red;
  color: white;
  font-weight: normal;
  width: 100%;
  border-radius: 20px;
  height: 100%;
 
}
.update{
  background: black;
  color: white;
  font-weight: normal;
  width: 100%;
  border-radius: 20px;
  height: 100%;
  
}
@media(max-width:450px){

  html{
    font-size: 50%;
  }

  .order .row form .inputBox input{
    width:100%;
  }

}
@media (max-width:768px){
  table thead{
    display: none;
  }
  table, table tbody, table tr, table td{
    display: block;
    width: 100%;
  }
  table tr{
    margin-bottom: 15px;
  }
  table tbody tr td{
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  table td::before{
    content: attr(date-label);
    position: absolute;
    left: 0;
    width: 0;
    padding-left: 15px;
    font-weight: 600;
    text-align: left;
    font-size: 14px;

  }
}